<!DOCTYPE html>
<html lang="en">

<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>MercadoLibre</title>
</head>

<body>
          <header>
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre">
                    <h2>Lugar para poner la barra de búsqueda</h2>
                    <h2>Comprá en cuotas y sin tarjeta de crédito</h2>



                    <ul>
                              <li><a href="http://localhost:3050/Ofertas">Ofertas</a></li>
                              <li><a href="http://localhost:3050/Tiendas Oficiales">Tiendas Oficiales</a></li>
                              <li><a href="http://localhost:3050/Vender">Vender</a></li>
                              <li><a href="http://localhost:3050/Ayuda">Ayuda</a></li>
                    </ul>


                    <ol>
                              <li><a href="http://localhost:3050/Creá tu cuenta">Creá tu cuenta</a></li>
                              <li><a href="http://localhost:3050/Ingresá">Ingresá</a></li>
                              <li><a href="http://localhost:3050/Mis Compas">Mis compras </a></li>
                    </ol>
          </header>

          <main>
                    
          </main>
</body>

</html>